**
!Dockerfile.runtime
!Dockerfile.cuda-int8
!Dockerfile.fp16-hybrid
!build_submission/
build_submission/**
!build_submission/fp16_image_weights_manifest.json
!models/
models/**
!models/twin2attr/
models/twin2attr/**
!models/twin2attr/qwen3-reranker-4b-fp16/
models/twin2attr/qwen3-reranker-4b-fp16/**
!models/twin2attr/qwen3-reranker-4b-fp16/onnx/
models/twin2attr/qwen3-reranker-4b-fp16/onnx/**
!models/twin2attr/qwen3-reranker-4b-fp16/onnx/model.backbone.embed_tokens.weight
!models/twin2attr/qwen3-reranker-4b-fp16/onnx/onnx__MatMul_11118
!models/twin2attr/qwen3-reranker-4b-fp16/onnx/onnx__MatMul_11119
!models/twin2attr/qwen3-reranker-4b-fp16/onnx/onnx__MatMul_11149
!models/twin2attr/qwen3-reranker-4b-fp16/onnx/onnx__MatMul_11088
!models/twin2attr/qwen3-reranker-4b-fp16/onnx/onnx__MatMul_11120
!models/twin2attr/qwen3-reranker-4b-fp16/onnx/onnx__MatMul_11150
!models/twin2attr/qwen3-reranker-4b-fp16/onnx/onnx__MatMul_11087
!models/twin2attr/qwen3-reranker-4b-fp16/onnx/onnx__MatMul_11089
!models/twin2attr/qwen3-reranker-4b-fp16/onnx/onnx__MatMul_11151
!models/twin2attr/qwen3-reranker-4b-fp16/onnx/onnx__MatMul_11645
!models/twin2attr/qwen3-reranker-4b-fp16/onnx/onnx__MatMul_11211
!models/twin2attr/qwen3-reranker-4b-fp16/onnx/onnx__MatMul_11738
!models/twin2attr/qwen3-reranker-4b-fp16/onnx/onnx__MatMul_11707
!models/twin2attr/qwen3-reranker-4b-fp16/onnx/onnx__MatMul_11614
!models/twin2attr/qwen3-reranker-4b-fp16/onnx/onnx__MatMul_11769
!models/twin2attr/qwen3-reranker-4b-fp16/onnx/onnx__MatMul_11676
!models/twin2attr/qwen3-reranker-4b-fp16/onnx/onnx__MatMul_11583
!models/twin2attr/qwen3-reranker-4b-fp16/onnx/onnx__MatMul_11552
!models/twin2attr/qwen3-reranker-4b-fp16/onnx/onnx__MatMul_12019
!models/twin2attr/qwen3-reranker-4b-fp16/onnx/onnx__MatMul_11616
!models/twin2attr/qwen3-reranker-4b-fp16/onnx/onnx__MatMul_11523
!models/twin2attr/qwen3-reranker-4b-fp16/onnx/onnx__MatMul_11647
!models/twin2attr/qwen3-reranker-4b-fp16/onnx/onnx__MatMul_11521
!models/twin2attr/qwen3-reranker-4b-fp16/onnx/onnx__MatMul_11554
!models/twin2attr/qwen3-reranker-4b-fp16/onnx/onnx__MatMul_11335
!models/twin2attr/qwen3-reranker-4b-fp16/onnx/onnx__MatMul_12050
!models/twin2attr/qwen3-reranker-4b-fp16/onnx/onnx__MatMul_11585
!models/twin2attr/qwen3-reranker-4b-fp16/onnx/onnx__MatMul_11988
!models/twin2attr/qwen3-reranker-4b-fp16/onnx/onnx__MatMul_11739
!models/twin2attr/qwen3-reranker-4b-fp16/onnx/onnx__MatMul_11646
!models/twin2attr/qwen3-reranker-4b-fp16/onnx/onnx__MatMul_11492
!models/twin2attr/qwen3-reranker-4b-fp16/onnx/onnx__MatMul_11242
