weights/rubert-tiny2/model.safetensors filter=lfs diff=lfs merge=lfs -text
build_submission/vendor_wheels/catboost-*.whl filter=lfs diff=lfs merge=lfs -text
models/ner/rubert_tiny2_word_ner/model.pt filter=lfs diff=lfs merge=lfs -text
weights/cross-encoder-russian-msmarco/model.safetensors filter=lfs diff=lfs merge=lfs -text
weights/rubert-base-cased/model.safetensors filter=lfs diff=lfs merge=lfs -text
build_submission/tensorrt_runtime/tensorrt-runtime-10.9.0.34-linux-x86_64.tar.zst filter=lfs diff=lfs merge=lfs -text
