/data/*
!/data/synonyms.parquet
!/data/unique_attributes.parquet
/models/*
!/models/ner/
!/models/ner/**
/weights/*-maxlen*/
/.cache/
/.hydra/
/outputs/
/analysis/
/multirun/
/dist/
/build/
/.venv/
/build_submission/tensorrt_runtime/tensorrt-runtime-10.9.0.34-linux-x86_64.tar.zst

*.egg-info/
*.joblib
*.py[cod]
__pycache__/
.ipynb_checkpoints/

.env
.DS_Store
Thumbs.db

*.log
:memory:.ses
/artifacts/
/experiments/
