/data/*
!/data/synonyms.parquet
!/data/unique_attributes.parquet
/models/*
!/models/ner/
!/models/ner/**
/weights/*-maxlen*/
/.cache/
/.hydra/
/outputs/
/analysis/
/multirun/
/dist/
/build/
/.venv/

*.egg-info/
*.joblib
*.py[cod]
__pycache__/
.ipynb_checkpoints/

.env
.DS_Store
Thumbs.db

*.log
/artifacts/
/experiments/
